<div class="container">

  <div *ngIf="subscription.status === 'active'">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Your Subscription</mat-card-title>
            <mat-card-subtitle>Member since {{subscription.startDate | date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                  {{subscription.name}} membership is ${{subscription.cost}}/{{subscription.paymentFreq}}.
                </mat-list-item>
                <mat-list-item *ngFor="let feature of subscription.features">
                  {{feature}}
                </mat-list-item>
                <mat-list-item>You next bill date is {{subscription.nextBillingDate | date}} </mat-list-item>
                <mat-list-item></mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="!subscription">
    <h2>No Subscription</h2>
    <button>Subscribe</button>
  </div>

  <div *ngIf="operation$ === 'subscribe'">
    
  </div>

</div>
